.home-contain{
    font-family: 'Poppins', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    padding: 0px;
}



.poster-1{
    width: 100%;
    height: 120px;
    margin-top: 80px;
    background-color: #CBEA7E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.bag-kanan{
    margin-left: 20px;
}

.bag-kiri img{
    width: 90%;
}

.bag-kanan p{
    margin-bottom: -0px;
    font-weight: 500;
    color: #3A3A3A;
    font-size: 14px;
}

.teks-mid{
    background-color: #fff;
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
}

.poster-2{
    background: #CBEA7E;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.poster2-contain{
    width: 100%;
}

.bag-kanan2 p{
    margin-bottom: -1px;
    font-weight: 500;
}

.teks-mid2{
    background-color: #fff;
    border-radius: 5px;
    padding: 0px 4px;
    margin-left: -2px;
    font-weight: 500;
}

.circle{
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #F6F6F6;
}

.circle2{
    margin-right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #F6F6F6;
}

.our-products {
    padding: 20px 0px;
  }
  
  .our-products p {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .products-container {
    display: flex;
    gap: 10px; 
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .product-box {
    min-width: 140px;
    height: 160px;
    flex-shrink: 0; 
    background-color: #A5A5A5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 14px;
    color: #ffffff;
  }


  
@media (max-width: 768px) {

    .home-contain{
        font-family: 'Poppins', sans-serif;
        margin-left: 4%;
        margin-right: 4%;
        padding: 0px;
    }
    .poster-1{
        width: 100%;
        height: 120px;
        margin-top: 80px;
        background-color: #CBEA7E;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }

}