        .pages-login {
            font-family: 'Poppins', sans-serif;
            background-color: #FBFBFB;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            width: 100%;
        }
        .containerr {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            overflow: hidden; 
            width: 750px; 
        }
        .login-container {
            width: 40%;
            padding: 20px;
            text-align: center;
        }
        .login-container h2 {
            color: #2D3337;
            font-size: 28px;
            font-weight: 600;
        }
        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 10px 0;
            border: 1px solid #2D3337;
            border-radius: 100px;
            box-sizing: border-box; 
            background-color: transparent;
        }
        .login-container .forgot-password {
            font-size: 10px;
            color: #2D3337;
            text-decoration: underline;
            cursor: pointer;
            text-align: left;
            margin-top: 5px;
        }
        .login-container button {
            background-color: #C3EB6D;
            border: 1px solid #2D3337;
            color: #2D3337;
            padding: 10px;
            border-radius: 100px;
            cursor: pointer;
            margin-top: 10px;
            width: 100%;
        }
        .login-container button:hover {
            background-color: #b9e161;
        }

        .divider {
            display: flex;
            align-items: center;
            margin: 20px 0;
            font-size: 12px;
        }
        .divider::before,
        .divider::after {
            content: "";
            flex: 1;
            border-bottom: 1px solid #ccc;
        }
        .divider span {
            margin: 0 10px;
            color: #2D3337;
        }
        .social-icons {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 20px;
        }
        .social-icons div {
            width: 38px;
            height: 38px;
            background-color: #2D3337;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: #fff;
            transition: transform 0.3s ease, background-color 0.3s ease;
        }

        .social-icons div:hover {
            background-color: #252a2d;
            transform: translateY(-5px);
        }

        .icon-login{
            height: 15px;
        }

        .register {
            font-size: 10px;
            margin-top: 10px;
            font-weight: 500;
        }
        .register a {
            color: #2D3337 ;
            text-decoration: underline;
        }
        .illustration {
            width: 45%;
            background: url('../assets/illustration-login.png');
            border: 1px solid #2D3337;
            border-radius: 20px;
            background-size: cover;
        }
        @media (max-width: 768px) {
            .illustration {
                display: none;
            }
            .login-container {
                width: 100%; 
            }
        }