@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
}

body{
    background-color: #F6F6F6;
    margin: 0;
}